
.item {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      padding: 0px;
      border-radius: 0px;
      background-color: #fff;
      max-width: 300px;
      margin: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .item img {
      max-width: 100%;
      height: auto;
      border-radius: 0px;
      object-fit: cover;
    }
    
    
    .item-prices {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
    
    
    .item-price-new {
      font-size: 18px;
      font-weight: bold;
      color: green;
      margin-bottom: 5px;
    }
    
    .item-price-old {
      font-size: 16px;
      text-decoration: line-through;
      color: #888;
    }
    
    .item:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    
    @media (max-width: 600px) {
      .item {
        max-width: 100%;
        padding: 15px;
      }
    }
    