.custom-navbar {
  background-color: #0a37cc !important;
  opacity: 1 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 10px;
}

body {
  padding-top: 60px;
}

.navbar-brand {
  font-family: 'Arial Black', sans-serif;
  font-size: 1.5rem;
  color: white !important;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav .nav-link {
  font-family: 'Verdana', sans-serif;
  font-size: 1.0rem;
  color: white !important;
  position: relative;
  padding-bottom: 5px;
}

.nav .nav-link hr {
  border: 2px solid #ffffff;
  width: 90%;
  border-radius: 4px;
  margin: 5px auto 0;
  opacity: 1 !important;
}

.nav-link:hover {
  color: #ddd !important; /* Lighter color on hover */
}

.login-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 30px;
  gap: 20px;
}

.cart-icon {
  position: relative;
  margin-left: 30px;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
}
